<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gestDiKo - Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
   <header class="navbar">
    <div class="logo">
        <span>DiKoLo</span>
    </div>
        <nav>
            <a href="/">Dashboard</a>
            <a href="#">Produits</a>
            <a href="#">Ventes</a>
        </nav>
    </header>

    <main class="container">
        <h1>Bienvenue sur gestDiKo</h1>
        <p>Gestion de stock DiKoLo</p>

        <div class="cards">
            <div class="card">
                <h3>Produits</h3>
                <p>0</p>
            </div>
            <div class="card">
                <h3>Ventes du jour</h3>
                <p>0 FCFA</p>
            </div>
            <div class="card">
                <h3>Stock Faible</h3>
                <p>0</p>
            </div>
        </div>
    </main>
</body>
</html>